@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
}

.app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-footer {
  margin-top: auto;
}

h2 {
  font-size: 2.4rem;
}

a {
  color: black;
  transition: 0.4s;
}
